<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login  Page</h1>
    {% for message in messages %}
    {% if message.tags == 'info' %}
        <div class="alert alert-danger text-center" role="alert">
        {{message}}
        </div>
    {% endif %}
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
         {% comment %} <label for="">Username</label>
        <input type="text" name="username" id=""><br><br> {% endcomment %}

        <label for="">email</label>
        <input type="email" name="email" id=""><br><br>
        <label for="">Password</label>
        <input type="password" name="password" id=""><br><br>   
        <input type="submit">
        <a href="/register/" >Register</a>

    </form>
</body>
</html>